.invoicesList {
	margin: 0 auto;
	width: 1000px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.invoicesList_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: white;
	padding: 16px 32px;
	border-radius: 8px;

	font-weight: 500;
	font-size: 12px;
	color: #858bb2;
}

.invoicesList_item td {
	text-align: left;
	border: 1px solid black;
	width: 20%;
}

.invoicesList_item_price {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: -0.8px;
	color: #0c0e16;
}

.invoicesList_item_status {
	padding: 13px 30px;
	border-radius: 6px;
	font-weight: 700;
}

.invoicesList_item_status:before {
	content: "";
	display: inline-block;
	position: relative;
	left: -10px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
}

.invoicesList_status_item--paid {
	background-color: #33d6a060;
	color: #33d69f;
}

.invoicesList_status_item--paid:before {
	background-color: #33d69f;
}
.invoicesList_status_item--pending {
	background-color: #ff8f0060;
	color: #ff8f00;
}

.invoicesList_status_item--pending:before {
	background-color: #ff8f00;
}
