.header {
	margin-top: 72px;
	display: flex;
	justify-content: space-between;
}

.header_left {
}

.header_left h1 {
	font-weight: 700;
	font-size: 32px;
}
.header_left p {
	font-weight: 500;
	font-size: 12px;
	color: #888eb0;
}
.header_right {
}
