$primary-color : #7C5DFA;
$primary-color-light : #9277FF;
$grey-light : #DFE3FA;
$grey-dark : #888EB0;
$grey-blue : #7E88C3;
$color-red : #EC5454;
$color-red-light : #9277FF;
$color-white : #F8F8FB;
$color-blue-dark : #1E2139;
$color-blue-dark2 : #252945;
$color-black1 : #0C0E16;
$color-black2 : #141625;
